.footer {
  background-color: #4a3b30; 
  color: white;
  padding: 0.6rem 1rem; 
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1200px;
  margin:0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: start;
  align-items: center;
  gap: 1.2rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-width: 160px;
  margin: 0.3rem 0;
}
.footer-column option:focus {
  outline: none;
  border-color: #f0e7dd;
}

.footer-column p {
  margin: 0;
  cursor: pointer;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.footer-column p:hover {
  color: #fffae6; 
  text-decoration: underline;
}
.logo-footer {
  height: 85px;
  width: auto;
  object-fit: contain;
  display: block;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
.footer-email {
  margin: 0;
  font-size: 0.85rem;
  color: white;
}
.footer-column:first-child {
  align-items: center;
  text-align: center;
}
